APP_NAME=Laravel
APP_ENV=local
APP_KEY=
APP_DEBUG=true

###---------- Socials Flags ----------###
INSTAGRAM_ENABLED=true
FACEBOOK_ENABLED=true
X_ENABLED=false
CARDMARKET_ENABLED=false

LOG_CHANNEL=stack
LOG_DEPRECATIONS_CHANNEL=null
LOG_LEVEL=debug

DB_CONNECTION=mysql
DB_HOST=sytatsu-mysql
DB_PORT=3306
DB_DATABASE=sytatsu
DB_USERNAME=stpronk
DB_PASSWORD=password

BROADCAST_DRIVER=log
CACHE_DRIVER=file
FILESYSTEM_DISK=local
QUEUE_CONNECTION=sync
SESSION_DRIVER=file
SESSION_LIFETIME=120

MEMCACHED_HOST=127.0.0.1

REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

MAIL_MAILER=smtp
MAIL_HOST=mailpit
MAIL_PORT=1025
MAIL_USERNAME=null
MAIL_PASSWORD=null
MAIL_ENCRYPTION=null
MAIL_FROM_ADDRESS="hello@example.com"
MAIL_FROM_NAME="${APP_NAME}"

SYTATSU_MAIL_FROM_ADDRESS=
SYTATSU_MAIL_FROM_NAME=
SYTATSU_MAIL_BBC_ADDRESS=
SYTATSU_MAIL_BCC_NAME=

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=us-east-1
AWS_BUCKET=
AWS_USE_PATH_STYLE_ENDPOINT=false

PUSHER_APP_ID=
PUSHER_APP_KEY=
PUSHER_APP_SECRET=
PUSHER_HOST=
PUSHER_PORT=443
PUSHER_SCHEME=https
PUSHER_APP_CLUSTER=mt1

VITE_PUSHER_APP_KEY="${PUSHER_APP_KEY}"
VITE_PUSHER_HOST="${PUSHER_HOST}"
VITE_PUSHER_PORT="${PUSHER_PORT}"
VITE_PUSHER_SCHEME="${PUSHER_SCHEME}"
VITE_PUSHER_APP_CLUSTER="${PUSHER_APP_CLUSTER}"

SAIL_DB_PORT=3307
SAIL_APP_PORT=8080
SAIL_VITE_PORT=5173
FORWARD_MAILPIT_PORT=1026
FORWARD_MAILPIT_DASHBOARD_PORT=8026

WWWGROUP=1000
WWWUSER=1000

GOOGLE_SITE_VERIFICATION=

SCOUT_ENABLED=false
SCOUT_DRIVER=null
