.about {
  @include container($color-base-light) {
    flex-direction: row;
    margin: 0 20px;
  }

  @media (max-width: $query-middle) {
    margin: 0;
  }

  &__image {
    height: auto;
    width: 33%;
    object-fit: cover;

    @media (max-width: $query-middle) {
      display: none;
    }
  }

  &__content {
    @include textModifiers();

    display: flex;
    flex-direction: column;
    height: auto;
    padding: 15px 15px 25px 25px;

    @media (max-width: $query-middle) {
      padding: 15px 25px 25px;
    }

    @media (max-width: $query-small) {
      padding: 15px;
    }
  }

  &-content {
    &__heading {
      @include text($font-primary-bold, 40pt, normal, 1.5, $color-secondary);

      padding: 0;
      margin: 0 0 10px;
    }

    &__text {
      @include text($font-primary, 16pt, normal, 1.5, $color-base-dark);

      padding: 0;
      margin: 0 0 1rem;
    }

    &__social {
      width: auto;
      height: auto;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;

      @media (max-width: 360px) {
        justify-content: center;
      }
    }
  }

  &-social {
    &__link {
      margin: 10px 10px 0;
      transform: scale(1);
      transition: transform 0.1s ease-in-out;

      &:hover{
        cursor: pointer;
        transform: scale(1.1);
      }
    }

    &__icon {
      height: 90px;
      width: 90px;
      pointer-events: none;
    }
  }
}
