.quotes {
  @include container($color-primary-light, 25px) {
    color: $color-base-light;
  }

  &__item {
    @include text($font-primary, 16pt, normal, 1.5, $color-base-light, center);
    display: none;

    &--active {
      display: block;
    }
  }
}
