.skills {
  @include container($color-secondary-dark) {
    flex-direction: column;
  };

  &__heading {
    @include text($font-primary-bold, 40pt, normal, 1.5, $color-base-light);
    @include textModifiers();

    padding: 25px 40px;
    margin: 0 auto;
  }

  &__content {
    @include textModifiers();

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: auto;
    padding: 25px;
    margin: 0 auto;
  }

  &__item {
    display: flex;
    flex-direction: row;
    margin: 10px auto;
    width: 190px;
    height: 190px;
    overflow: hidden;
    justify-content: flex-start;

    &:hover,
    &--active {
      .skills-item__content {
        transform: translateX(-190px);

        &--second {
          transform: translateX(-190px);
        }
      }
    }
  }

  &-item__content {
    @include text($font-primary, 16pt, normal, auto, $color-base-light);

    object-fit: contain;
    width: 90px;
    height: 90px;
    padding: 50px;
    background-color: $color-secondary;
    transform: translateX(0);
    transition: transform 0.25s ease-in-out;

    &--second {
      min-width: 90px;
      text-align: center;
      line-height: 90px;
      color: $color-base-light;
      background-color: $color-primary;
      transform: translateX(0);
      transition: transform 0.25s ease-in-out;
    }
  }
}