.bg-secondary-gradient {
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#333333+0,333333+0,1a1a1a+100 */
  background: #333333; /* Old browsers */
  background: -moz-linear-gradient(-45deg,  #333333 0%, #333333 0%, #1a1a1a 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(-45deg,  #333333 0%,#333333 0%,#1a1a1a 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(135deg,  #333333 0%,#333333 0%,#1a1a1a 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#333333', endColorstr='#1a1a1a',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

.bg-light-gradient {
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#f8f9fa+0,f8f9fa+0,e0e0e0+100 */
  background: #f8f9fa; /* Old browsers */
  background: -moz-linear-gradient(-45deg,  #f8f9fa 0%, #f8f9fa 0%, #e0e0e0 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(-45deg,  #f8f9fa 0%,#f8f9fa 0%,#e0e0e0 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(135deg,  #f8f9fa 0%,#f8f9fa 0%,#e0e0e0 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f8f9fa', endColorstr='#e0e0e0',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}
