/**
 * Helper classes that help within situation, use these as less as possible
 */
.--hidden {
  display: none;
}

/**
 * These are imports for the different types of text colors within the website
 */

.pointer {
  cursor: pointer;
}
