// Vibrant colors
// ~~ IMPORTANT: Should be used within variables only
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;

// Base colors
$color-primary: #7ad1f1;
$color-primary-light: #a5dcf3;
$color-primary-dark: #43b8d8;
$color-secondary: #fa6933;
$color-secondary-light: #ff8f64;
$color-secondary-dark: #da4d18;
$color-tertiary: '';
$color-tertiary-light: '';
$color-tertiary-dark: '';

$color-base-light: #fff;
$color-base-dark: #000;

// Values
$query-container: 1140px;
$query-large: 878px;
$query-middle: 594px;
$query-small: 427px;
$query-extra-small: 332px;

// Body
$body-bg: #d4d4d4;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

$intro-overlay-values: rgba(0, 0, 0, 0.5);

// Bootstrap color
$primary: $color-primary;
$secondary: $color-secondary;
