// Variables
@import 'variables';

// Fonts
@import "~font-awesome/scss/font-awesome";
@import "fonts";

// Helpers
@import "imports/helpers";
@import "imports/backgrounds";

// Bootstrap
@import '~bootstrap/scss/bootstrap';

// Auth import
@import './auth/login';

// Set all content to the center
html {
    min-height: 100%;
}

body {
    min-height: 100%;
    font-family: $font-primary;
    background-color: $body-bg;
}

#app {
    min-height: 100%;
    display: flex;
    align-items: center;
}
