// Tailwaind
@tailwind base;
@tailwind components;
@tailwind utilities;

// Web basic imports
@import "imports/normalize";
@import 'imports/variables';
@import "fonts";

// Some basic styling
html, body {
    scroll-behavior: smooth;
    font-family: $font-primary;
    overflow-x: hidden;
}

.hidden {
    display: none;
}

.custom-container {
    min-width: 100%;
    min-height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

.background {
    z-index: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(90%);
}

.content {
    max-width: 40%;
    z-index: 1;

    position: relative;
    margin: 0 auto;
    padding: 32px;

    display: flex;
    flex-direction: column;

    background: rgba(0,0,0,0.6);
}

.self-image {
    height: 128px;
    width: 128px;
    margin: 0 auto 32px;

    border-radius: 100%;
    overflow: hidden;
}

.about {
    color: white;
}

.buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;

    .media-link {
        width: 48px;
        height: 48px;
        margin: 16px 16px 0;
        background: black;
        border-radius: 100%;
        overflow: hidden;
        cursor: pointer;

        transform: scale(1);
        transition: transform 0.1s ease-in-out;
        &:hover {
            transform: scale(1.1);
        }

        &.sytatsu {
            display: flex;
            width: auto;
            background-color: #fff;
            border-radius: 100px;
            color: black;
            text-align: center;
            justify-content: center;
            padding: 0 8px;
        }
    }

    .icon {
        height: 48px;
        width: 48px;
        pointer-events: none;
    }


}
