.auth-panel {
    // No styling
}

.input-group {
    border-top: $color-secondary-dark solid 2px;
    border-bottom: $color-secondary-dark solid 2px;
    background-color: $color-secondary-light;

    padding: 10px 0 5px;

    //---- Login credentials
    .input-label {
        display: flex;
        align-items: center;
        justify-content: center;

        width: 25px;
        padding-bottom: 5px;
        font-size: 16px;
        margin: 0;

        color: #9d9d9d;
        order: 1;
        cursor: pointer;

        transition: 0.5s color;
    }

    .input-field {
        background-color: $color-secondary-light;
        color: $light;
        border: none;
        outline: none;
        font-size: 16px;
        order: 2;

        &:focus + .input-label,
        &:valid + .input-label {
            color: $light;
        }
    }

    //---- Remember me checkbox
    &-checkbox {
        color: $light;

        .input-checkbox {
            margin-top: 2px;
            position: relative;
            appearance: none;
            outline: none;
            width: 30px;
            height: 15px;
            border-radius: 20px;
            background: $color-secondary-light;
            box-shadow: none;
            cursor: pointer;
            overflow: hidden;
            transition: 0.3s;

            &:checked {
                background: $primary;
            }

            &::after {
                content: '';
                position: absolute;
                top: 1px;
                left: 1px;
                border-radius: inherit;
                width: 13px;
                height: 13px;
                background: #9d9d9d;
                transition: inherit;
            }

            &:checked::after {
                left: calc(100% - 14px);
                background: $light;
            }
        }

        .input-label {
            margin-left: 5px;
            cursor: pointer;
        }
    }
}

.error-container {
    display: block;
    width: 100%;
    font-size: 12px;

    .error-item {
        display: block;
        width: 100%;
        background-color: $danger;
        color: $light;
    }
}


.status-container {
    display: block;
    width: 100%;
    font-size: 12px;

    .status-item {
        display: block;
        width: 100%;
        background-color: $success;
        color: $light;
    }
}

.btn {
    &-login,
    &-reset, {
        color: $light;
        border-radius: 1000px;
    }

    &-outline-thick {
        font-size: 16px;
        border-width: 2px !important;
    }

    &-forgot-password {
        display: flex;
        align-items: center;
        font-size: 12px;
    }
}

.side-panel {
    // No styling
}

.assignment-list {
    .assignment-item {
        background-color: $color-secondary-light;

        transition: 0.5s background-color;

        &:hover {
            background-color: $primary;
        }
    }
}

.bg-secondary-gradient {
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#333333+0,333333+0,1a1a1a+100 */
    background: #333333; /* Old browsers */
    background: -moz-linear-gradient(-45deg,  #333333 0%, #333333 0%, #1a1a1a 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg,  #333333 0%,#333333 0%,#1a1a1a 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg,  #333333 0%,#333333 0%,#1a1a1a 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#333333', endColorstr='#1a1a1a',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

.bg-light-gradient {
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#f8f9fa+0,f8f9fa+0,e0e0e0+100 */
    background: #f8f9fa; /* Old browsers */
    background: -moz-linear-gradient(-45deg,  #f8f9fa 0%, #f8f9fa 0%, #e0e0e0 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg,  #f8f9fa 0%,#f8f9fa 0%,#e0e0e0 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg,  #f8f9fa 0%,#f8f9fa 0%,#e0e0e0 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f8f9fa', endColorstr='#e0e0e0',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}
