@mixin text($fontFamily, $fontSize, $fontWeight, $lineHeight, $color, $textAlign: false) {
  font-family: $fontFamily;
  font-size: $fontSize;
  font-weight: $fontWeight;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: normal;
  line-height: $lineHeight;
  color: $color;

  @if $textAlign != false {
    text-align: $textAlign;
  }
}

@mixin container($background-color, $padding: 0) {
  display: flex;
  padding: $padding calc((100vw - #{$query-container}) / 2);
  max-width: $query-container;
  height: auto;
  background-color: $background-color;

  @media all and (max-width: $query-container) {
    padding: $padding;
  }

  @content
}

@mixin textModifiers() {
  .--light,
  &--light,
  &.--light {
    color: $color-base-light;
  }

  .--dark,
  &--dark,
  &.--dark {
    color: $color-base-dark;
  }

  .--primary,
  &--primary,
  &.--primary {
    color: $color-primary;
  }
  .--secondary,
  &--secondary,
  &.--secondary{
    color: $color-secondary;
  }

  .--secondary-light,
  &--secondary-light,
  &.--secondary-light {
    color: $color-secondary-light;
  }

  .--bold,
  &--bold,
  &.--bold {
    font-family: $font-primary-bold;
  }
}
